NEXT_PUBLIC_GOOGLE_CLIENT_ID=812202824664-s716306ibb7c15jh7aok2v0lfnuocpkn.apps.googleusercontent.com

# SMTP Configuration (Disparo de E-mails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=helpus.ecommerce@gmail.com
SMTP_PASS=
